@if (loading()) {

  <mat-spinner></mat-spinner>

} 
@else {
  @if (chef$ | async; as chef) {

    <mat-card style="margin: 20px">

      <mat-card-header>

        <mat-card-title>
          {{ chef.name }}
        </mat-card-title>

        <mat-card-subtitle>
          {{ chef.country }} - {{ chef.city }}
        </mat-card-subtitle>

      </mat-card-header>

      <mat-card-content>

        <p>
          <strong>Gender:</strong> {{ chef.gender }}
        </p>

        @for (item of chef | keyvalue: originalOrder; track item.key) {

          <p>
            <strong>{{ item.key }}:</strong> {{ item.value }}
          </p>

        }

      </mat-card-content>

      <!--regresar-->
      <mat-card-actions>
        <button

          mat-flat-button
          routerLink="/chefs">  <mat-icon>west</mat-icon> Back

        </button>
      </mat-card-actions>
    </mat-card>

  }
}



