@if (students$ | async; as students) {

  <p>Students: {{ students.length }}</p>
  <!--Añadir-->
<button 
  mat-fab  routerLink="/students/create" >
  <mat-icon>add</mat-icon>
</button>

<div class="students-grid">
  @for (student of students; track student.id) {
    <mat-card style="margin: 10px">
      <mat-card-header>
        <div mat-card-avatar>
          <img [src]="student.avatar" width="40" height="40" />
        </div>

        <mat-card-title>{{ student.name }}</mat-card-title>
        <mat-card-subtitle>{{ student.email }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>

        <!-- VER -->
        <button
          mat-icon-button [routerLink]="['/students', student.id]">
          <mat-icon>visibility</mat-icon>
        </button>

        <!-- EDITAR -->
        <button
          mat-icon-button [routerLink]="['/students/edit', student.id]">
          <mat-icon>edit</mat-icon>
        </button>

        <!-- ELIMINAR -->
        <button 
          mat-icon-button (click)="deleteStudent(student.id)">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-card-actions>
    </mat-card>
  }
</div>

} @else {
  <mat-spinner></mat-spinner>
}


