:host {
  display: block;
}

/* CONTENEDOR GENERAL */
.app-layout {
  min-height: 100vh;
  background: rgb(0, 0, 20);
  display: flex;
  justify-content: center;
}

/* CONTENIDO */
.app-content {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

/* TARJETA CENTRAL */
.content-card {
  width: 100%;
}

/* HEADER */
h1 {
  color: white;
  margin: 10px 0 5px;
  font-size: 30px;
}

p {
  color: #aaa;
  margin: 0 0 20px;
}

/* NAV SIMPLE */
nav {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #4cafef;
  font-weight: bold;
}

nav a:hover {
  opacity: 0.7;
}

.nav-botones {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background: blue;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  opacity: 0.8;
}