h2 {
  text-align: center;
  color: white;
  margin: 10px 0 20px;
}
p {
  text-align: left;
  color: white;
  margin: 10px 0 20px;
}
.buscador-contenedor {
  display: flex;
  justify-content: flex-end; /* 🔥 mueve a la derecha */
  margin: 20px 0;
}

.buscador {
  width: 280px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #444;
  background: #1f1f1f;
  color: white;
  outline: none;
  transition: 0.2s ease;
}

.buscador::placeholder {
  color: #aaa;
}

.buscador:focus {
  border-color: #4cafef;
  box-shadow: 0 0 6px rgba(76, 175, 239, 0.4);
}

.texto-busqueda {
  margin-top: 8px;
  font-size: 14px;
  color: #ccc;
}

.error {
  text-align: center;
  color: #ff4d4d;
  font-weight: bold;
}

.total,
.result-title {
  text-align: center;
  color: white;
  margin: 0 0 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 16px;
  padding: 10px;
}

.card {
  background: #1e1e1e;
  color: white;
  padding: 16px;
  border-radius: 14px;
  text-align: center;
  border: 1px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.avatar img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #4cafef;
  margin-bottom: 10px;
}

.info {
  text-align: left;
  margin-top: 10px;
}

.info p {
  font-size: 14px;
  margin: 6px 0;
  word-break: break-word;
}

.acciones {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  gap: 15px;
}



.formulario {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.formulario input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1f1f1f;
  color: white;
  outline: none;
}

.cancelar {
  background: #555 !important;
}

.btn-danger {
  background: #e53935;
  color: white;
}

.btn-danger:hover {
  background: #c62828;
}