<h2>Lista de Departamentos</h2>

<div class="buscador-contenedor">
  <input
    class="buscador"
    type="text"
    placeholder="🔎 Buscar departamento por ID..."
    [(ngModel)]="busqueda"
    (input)="buscar()"
  />
</div>

<div class="acciones">
  <button type="button" (click)="activarAgregar()">Agregar departamento</button>
  <button type="button" (click)="activarEditar()">Editar departamento</button>
</div>

@if (modo === 'editar') {
  <div class="formulario">
    <input
      #inputIdEditar
      type="text"
      placeholder="ID del departamento"
      [value]="idEditar"
      (input)="idEditar = inputIdEditar.value"
      (keyup.enter)="cargarPorId(inputIdEditar.value)"
    />

    <button
      type="button"
      (click)="cargarPorId(inputIdEditar.value)"
    >
      Cargar datos
    </button>

    <button type="button" class="cancelar" (click)="cancelar()">
      Cancelar
    </button>
  </div>
}

@if (modo === 'agregar' || modo === 'editarFormulario') {
  <div class="formulario">

    <input type="text" placeholder="Nombre" [(ngModel)]="form.name" />
    <input type="text" placeholder="Descripción" [(ngModel)]="form.description" />
    <input type="text" placeholder="Manager" [(ngModel)]="form.manager" />

    <button type="button" (click)="guardar()">
      {{ modo === 'agregar' ? 'Guardar' : 'Actualizar' }}
    </button>

    <button type="button" class="cancelar" (click)="cancelar()">Cancelar</button>

  </div>
}

@if (busqueda.trim() !== '') {

  <h3 class="result-title">Resultado de búsqueda</h3>

  @if (departmentBuscado$ | async; as dep) {

    <div class="container">
      <div class="card">

        <h3>{{ dep.name || 'Departamento' }}</h3>

        <div class="info">
          @for (item of dep | keyvalue; track item.key) {
            <p>
              <strong>{{ item.key.toString() | titlecase }}:</strong>
              {{ item.value }}
            </p>
          }
        </div>

      </div>
    </div>

  } @else {
    <p class="error">No hay resultados</p>
  }

}

@else {

  @if (departments$ | async; as departments) {

    <p class="total">Total departamentos: {{ departments.length }}</p>

    <div class="container">
      @for (dep of departments; track dep.id) {

        <div class="card">

          <h3>{{ dep.name || 'Departamento' }}</h3>

          <div class="info">
            @for (item of dep | keyvalue; track item.key) {
              <p>
                <strong>{{ item.key.toString() | titlecase }}:</strong>
                {{ item.value }}
              </p>
            }
          </div>

          <button
            class="btn btn-danger eliminar-btn"
            (click)="dep.id && eliminar(dep.id)">
            Eliminar
          </button>

        </div>

      }
    </div>

  }

}